@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
}

.manadatoryMessage {
    color: #CFD650;
}

.mp0 {
    background: linear-gradient(to bottom right, #5740CC 60%, #CFD650);
    margin-bottom: 80px;
    min-height: 100vh;
}

.mTop {
    background-color: #8C79F8;
    text-align: center;
    border: none;
    color: rgb(245, 243, 255);
}

.signupArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;

}

.btnSignup {
    text-align: center;
    margin-left: 20%;
}

.login-box {
    background-color: #EAEFFE;
}

.button {
    background: linear-gradient(to bottom right, #5740CC 40%, #CFD650) !important;
    border-radius: 30px !important;
    border: none;
    color: white;
}

.button:hover {
    background: #CFD650 !important;
    color: #CFD650;
    transition: 350ms;
}

form#signupform .sgnemail,
form .za-country-container select#country {
    border: 1px solid gray !important;
    /* outline: none; */
}

form#signupform .sgnemail:focus,
form .za-country-container select#country:focus {
    border: 2px solid #5740CC !important;
    outline: none;
    transition: 1ms;
}

#show-password-label:hover {
    color: #CFD650 !important;
    transition: 350ms;
}

a {
    color: #5740CC !important;
}

/* body label.sign_agree span#signup-termservice.checked::before {
    color: #CFD650 !important; /*
} */

form#signupform .sgnemail {
    border-radius: 30px !important; /* Ajuste o valor (ex: 8px) como preferir */
}

/* Arredonda também o campo de seleção (país) */
form#signupform .za-country-select {
    border-radius: 30px !important; /* Use o mesmo valor para consistência */

}